<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--ion-title>login</ion-title-->
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthred="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">

    <ion-img src="assets/header1.png"></ion-img>

    <ion-card-content>
        <div class="wrapform">
          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input type="text" name="login" [(ngModel)]="registerCredentials.email" placeholder="Email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input type="password" name="password" [(ngModel)]="registerCredentials.password" placeholder="**********"
              required></ion-input>
          </ion-item>
        </div>
        <div class="sign-btn-wrap">
          <ion-button shape="round" fill="solid" (click)="login()">Signin</ion-button>
        </div>
      
    </ion-card-content>

  </ion-card>
</ion-content>